<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This data and information is proprietary to, and a valuable trade secret
  ~ of, Basis Technology Corp.  It is given in confidence by Basis Technology
  ~ and may only be used as permitted under the license agreement under which
  ~ it has been distributed, and in no other way.
  ~
  ~ Copyright (c) 2024 Basis Technology Corporation All rights reserved.
  ~
  ~ The technical data and information provided herein are provided with
  ~ `limited rights', and the computer software provided herein is provided
  ~ with `restricted rights' as those terms are defined in DAR and ASPR
  ~ 7-104.9(a).
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger configuration -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Logger for your plugin classes -->
        <Logger name="com.example.myplugin" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
